#container {
    width:800px;
    min-height: 500px;
    padding: 5px;
    border: 1px solid #555;
    margin: auto;
    text-align: center;
}

#fruitsout {
    margin-top:20px ;
    font-size: 30px;
}