div,
code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    padding: 8px;
}



form,
table {
    width: fit-content;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    max-width: 400px;
    width: 80%;
    padding: 8px;

}

div:last-of-type {
    position: relative;
    margin-top: 3px;
    text-align: right;
}

div:last-of-type button {
    position: absolute;
    margin-right: 8px;
    right: 0;
}

label {
    font-weight: bolder;
    width: 100%;
}

h2,
h3 {
    color: #555;
    text-align: center;
    max-width: 435px;
}

th,
td {
    min-width: 80px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #555;
}

li h5 {
    margin: 7px auto;
}

#output li {
    margin: auto;
    padding: 5px;
    margin: 4px 5px;
    padding: 8px;
    box-shadow: 2px 2px 4px 1px #eee;
    padding: 5px;
    list-style-type: none;
    border-radius: 5px;
    background: linear-gradient(45deg, black, blue);
    color: white;
    font-size: medium;
}

ul#output {
    margin: auto;
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

tr:last-of-type td {
    border-bottom: 1px solid #555;
}